.customer-list-detail {
  margin-top: 10px !important;
  span {
    vertical-align: super;
  }
}

.card-header-space-between {
  justify-content: space-between;
  flex: 1 100%;
}

.customer-list-title {
  width: 300px;
}

.example-half-width {
  width: 24% !important;
}

.new-car-form {
  mat-form-field {
    width: 100%;
  }
}
