.customer-list-detail {
  margin-top: 10px !important;
  span, a {
    vertical-align: super;
    padding: 2px;
  }
}

.card-header-space-between {
  justify-content: space-between;
  flex: 1 100%;
}

.customer-list-title {
  width: 300px;
}
