<div *ngIf="customers && customers.length > 0; else noentries">
  <mat-card *ngFor="let customer of customers">
    <mat-card-header>
        <img mat-card-avatar [src]="getAvatar(customer)">
      <mat-card-title class="customer-list-title"><span class="mat-typography">{{customer.firstName + ' ' + customer.lastName}}</span></mat-card-title>
        <mat-card-subtitle>{{customer.address}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>

      <div class="customer-list-detail">
        <div><mat-icon>perm_identity</mat-icon> <span>Customer-ID: {{customer.id}}</span></div>
        <div><mat-icon>phone</mat-icon> <span>Phone: {{customer.phoneNumber ? customer.phoneNumber : '-' }}</span></div>
        <div><mat-icon>mail_outline</mat-icon> <span>E-Mail: {{customer.eMail ? customer.eMail : '-'}}</span></div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <div class="row">
        <div class="col-xs-12">
          <a mat-button color="primary" [routerLink]="'/customers/' + customer.id">VIEW DETAIL</a>
          <button mat-button color="warn" (click)="removeCustomer(customer)"><mat-icon>delete</mat-icon>DELETE</button>
        </div>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
<ng-template #noentries>
  <span>No Customers yet</span>
</ng-template>

<button mat-fab color="accent" class="mat-add-fab-button" (click)="openDialog()"><mat-icon>add</mat-icon></button>

